
{% extends 'myapp/base.html' %}

{% block body %}
<div class="flex">
    <div class="card mx-3 mb-6" style="width: 18rem; ">
        <img class="img-responsive pull-right" src="{{ product.product_image.url }}" class="card-img-top" alt="...">
    </div>
    <div class="pl-10">
        <h3 class="title text mr-10">{{ product.name }}</h3>
        <div class="mb-4 text-left">{{ product.description }}</div>
        <div class="mb-4 font-bold text-left">{{ product.price }}</div>
        <div>
            {% if user.is_authenticated %}
            <button id="checkout-button" class="btn btn-success">Buy</button>
            <input type="email" id="myemail">
            {% else %}
            <p>Please log in to purchase this product.</p>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var stripe = Stripe('{{ stripe_publishable_key }}');
    var checkoutButton = document.getElementById('checkout-button');
    checkoutButton.addEventListener('click', function () {
        console.log('Button clicked');
        var email = document.getElementById('myemail').value;
        console.log(email);
        if (email.length == 0) {
            alert('Please enter your email address');
            return;
        }
        fetch("{% url 'api_checkout_session' id=product.id %}", {
            method: 'POST',
            body: JSON.stringify({ 'email': email })
        }).then(function (response) {
            return response.json();
        }).then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.sessionId });
        }).then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        }).catch(function(error){
            alert('Error:', error);
        });
    });
</script>

{% endblock %}